.mph-widget {
  width: 250px;
  min-height: 400px;
  height: auto;
  word-break: break-all;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: Helvetica, sans-serif;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

[data-style="small"] .mph-widget {
  font-size: 12px;
  width: 160px;
  min-height: 300px;
  height: auto;
}

[data-style="horizontal"] .mph-widget {
  font-size: 12px;
  width: 320px;
  min-height: 100px;
  height: auto;
}

.mph-widget-body {
  display: flex;
  flex-direction: column;
}

[data-style="horizontal"] .mph-widget-body {
  display: flex;
  flex-direction: row;
}

.mph-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 7px 0;
}

.mph-col {
  display: flex;
  flex-direction: column;
}

[data-style="horizontal"] .mph-col {
  width: 500%;
}

.mph-widget .moon-phase-ico {
  width: 50%;
}

.mph-widget .moon-phase-ico img {
  width: 100%;
}

.mph-row.mph-link {
  margin-top: auto;
}

.moon-time {
  margin-left: 5px;
}

.mph-row .current-date {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.125em;
}

[data-style="small"] .mph-row .current-date {
  font-size: 1em;
}

.phase-name{
  font-weight: bold;
  font-size: 1.125em;
}

[data-style="horizontal"] .phase-name{
  margin-top: 10px;
}

.mph-link a {
  text-decoration: underline;
}

.mph-link a:link,
.mph-link a:visited {
  color: #212121;
  text-decoration: underline;
}

.mph-link a:hover,
.mph-link a:active {
  color: #0000EE;
  text-decoration: underline;
}